# SQLite3
## 1. 개요
#### 1.1 경량 DBMS
- 별도의 서버가 필요 없음
- 모바일 기기에서 많이 활용되고 있음
- 파이썬3에 기본 내장되어 있음
- 파일 또는 메모리에 DB 생성
- 참고자료: SQLite로 가볍게 배우는 데이터베이스 (WikiDocs)

#### 1.2 데이터 타입
- 동적 데이터 타입
- Null, Integer, Real, Text, Blob 유형이 있음 (Boolean, Date, Time 없음)
- 다른 유형 데이터를 삽입해도 컬럼에 맞게 알아서 들어감
- 다른 DB에서 사용하는 데이터유형 이름 그대로 사용해도 무방

#### 1.3 DBMS 관리 툴
- SQLite Expert (http://www.sqliteexpert.com/download.html)
- Personal version은 freeware 이므로 사용할 수 있음

In [25]:
import sqlite3

## 2. 파이썬에서 사용하는 방법
- **데이터베이스 접속**

In [26]:
conn = sqlite3.connect('./test.db') 
'''
conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
'''

"\nconn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)\n"

- **테이블 생성**

In [19]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

- **데이터 삽입(insert)**

In [22]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position','hands','highschool','height') \
             VALUES (30, '호잉', '외야수','좌투좌타','미쿡고','188');")

OperationalError: database is locked

- **변경사항 저장**

In [ ]:
conn.commit()

- 모든 필드를 삽입할 경우에는 필드명 생략 가능
- 튜플의 리스트 형태로 한꺼번에 여러 데이터를 입력할 수 있음

In [23]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

OperationalError: database is locked

In [ ]:
conn.commit()

- **파일에서 읽어서 데이터베이스에 쓰기**

In [ ]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

In [16]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

OperationalError: database is locked

- **데이터 조회**

In [ ]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

In [13]:
# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [14]:
# 다건 조회
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, "'김범수'", "'투수'", "'좌투좌타'", "'천안북일고'", 181)

In [15]:
# 모두 조회
rows = cur.fetchall()
for row in rows:
    print(row)

(38, "'안영명'", "'투수'", "'우투우타'", "'천안북일고'", 183)
(36, "'장민재'", "'투수'", "'우투우타'", "'광주제일고'", 184)
(13, "'최재훈'", "'포수'", "'우투우타'", "'덕수정보고'", 178)
(52, "'김태균'", "'내야수'", "'우투우타'", "'천안북일고'", 185)
(7, "'송광민'", "'내야수'", "'우투우타'", "'공주고'", 184)
(50, "'이성열'", "'내야수'", "'우투좌타'", "'순천효천고'", 185)
(43, "'정은원'", "'내야수'", "'우투좌타'", "'인천고'", 177)
(8, "'정근우'", "'외야수'", "'우투우타'", "'부산고'", 172)
(25, "'최진행'", "'외야수'", "'우투우타'", "'덕수정보고'", 188)

In [16]:
# 필요한 colum만 조회, 조회 조건도 추가
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 10')
rows = cur.fetchall();
for row in rows:
    print(row)

("'최재훈'",)
("'김범수'",)
("'최진행'",)
('양성우',)
("'장민재'",)
("'안영명'",)
("'정은원'",)
("'이성열'",)
("'김태균'",)

In [19]:
# 원하는 순서 및 개수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER by name DESC')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [22]:
# 원하는 순서 및 개수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')
row = cur.fetchone();
for row in rows:
    print(row)

("'최재훈'",)
("'김범수'",)
("'최진행'",)
('양성우',)
("'장민재'",)
("'안영명'",)
("'정은원'",)
("'이성열'",)
("'김태균'",)

In [ ]:
# 집계 함수
cur.execute('SELECT count(*) FROM Eagles')
count = cur.fetchone()
print(count)

In [ ]:
# 그룹핑, 집계 함수
cur = conn.cursor()
cur.execute('SELECT position, count(*), avg(height) FROM Eagles GROUP BY position')
rows = cur.fetchall();
for row in rows:
    print(row)

In [ ]:
# Placeholder를 사용해서 데이터 검색
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
player = cur.fetchone()
print(player)

- **데이터 변경**
- UPDATE table SET field1 = value1, ... WHERE 조건;

In [ ]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타', highschool='미쿡고', \
             height=190 WHERE back_no=30;")
conn.commit()

- **데이터 삭제**
- DELETE FROM table WHERE 조건;

- **데이터 삭제**
- DELETE FROM table WHERE 조건:

In [29]:
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no=1;")
conn.commit()

In [30]:
conn.close()

## Table Join을 위한 준비

In [ ]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Stats \
    (id INT NOT NULL, \
     player TEXT, \
     average REAL, \
     rbi INT, \
     homerun INT, \
     PRIMARY KEY(id));')

In [ ]:
stats = pd.read_csv('./stats.csv', encoding='EUC-KR')
stats

In [ ]:
cur = conn.cursor()
sql = 'INSERT INTO Stats VALUES (?, ?, ?, ?, ?);'
for i in range(9):
    cur.execute(sql, (i+1, 
                      stats.iloc[i,0],
                      float(stats.iloc[i,1]), 
                      int(stats.iloc[i,2]),
                      int(stats.iloc[i,3])))
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute('SELECT * FROM Stats')
for row in cur:
    print(row)

In [ ]:
sql = "SELECT Eagles.back_no, Eagles.name, Eagles.position, \
           Stats.average, Stats.rbi, Stats.homerun \
           FROM Eagles JOIN Stats \
           ON Eagles.name like Stats.player;"
cur = conn.cursor()
cur.execute(sql)
for row in cur:
    print(row)

In [ ]:
sql = "SELECT e.back_no, e.name, e.position, \
           s.average, s.rbi, s.homerun \
           FROM Eagles AS e JOIN Stats AS s \
           ON e.name like s.player;"
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall();
columnName = ['등번호', '선수명', '포지션', '타율', '타점', '홈런']
eagles_df = pd.DataFrame(columns = columnName)
for row in rows:
    eagles_df = eagles_df.append(pd.DataFrame([list(row)], columns = columnName), 
                                 ignore_index=True)
eagles_df

### 연습문제 1
#### 투수들의 기록중에서 평균자책점(ERA), 투구인닝(IP), 탈삼진(SO) 기록을 찾아서 Pitcher_stats 란 테이블을 만들고, Eagles 테이블과 Join 하여 백넘버, 선수명, 포지션, 투구인닝, 평균자책점, 탈삼진 필드를 갖는 데이터 프레임을 만들어서 Join 한 결과를 입력하고, 그 결과를 보이시오.

In [ ]:
import pandas as pd

In [ ]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitcher_stats \
    (id INT NOT NULL, \
     player TEXT, \
     era REAL, \
     ip REAL, \
     so INT, \
     PRIMARY KEY(id));')

In [ ]:
pstats = pd.read_csv('./pstats.csv', encoding='EUC-KR')
pstats

In [ ]:
cur = conn.cursor()
sql = 'INSERT INTO Pitcher_stats VALUES (?, ?, ?, ?, ?);'
for i in range(3):
    cur.execute(sql, (i+1, 
                      pstats.iloc[i,0],
                      float(pstats.iloc[i,1]), 
                      float(pstats.iloc[i,2]),
                      int(pstats.iloc[i,3])))
conn.commit()

In [ ]:
sql = "SELECT e.back_no, e.name, e.position, \
           p.era, p.ip, p.so \
           FROM Eagles AS e JOIN Pitcher_stats AS p \
           ON e.name like p.player;"
cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall();
columnPitcher = ['등번호', '선수명', '포지션', '평균자책점', '투구인닝', '탈삼진']
pitcher_df = pd.DataFrame(columns = columnPitcher)
for row in rows:
    pitcher_df = pitcher_df.append(pd.DataFrame([list(row)], columns = columnPitcher), 
                                   ignore_index=True)
pitcher_df

In [ ]:
conn.close()