# SQLite3
## 1. 개요
#### 1.1 경량 DBMS
- 별도의 서버가 필요 없음
- 모바일 기기에서 많이 활용되고 있음
- 파이썬3에 기본 내장되어 있음
- 파일 또는 메모리에 DB 생성
- 참고자료: SQLite로 가볍게 배우는 데이터베이스 (WikiDocs)

#### 1.2 데이터 타입
- 동적 데이터 타입
- Null, Integer, Real, Text, Blob 유형이 있음 (Boolean, Date, Time 없음)
- 다른 유형 데이터를 삽입해도 컬럼에 맞게 알아서 들어감
- 다른 DB에서 사용하는 데이터유형 이름 그대로 사용해도 무방

#### 1.3 DBMS 관리 툴
- SQLite Expert (http://www.sqliteexpert.com/download.html)
- Personal version은 freeware 이므로 사용할 수 있음

In [1]:
import sqlite3

## 2. 파이썬에서 사용하는 방법
- **데이터베이스 접속**

In [2]:
conn = sqlite3.connect('./test.db') 
'''
conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
'''

"\nconn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)\n"

- **테이블 생성**

In [10]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

- **데이터 삽입(insert)**

In [4]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

- **변경사항 저장**

In [6]:
conn.commit()

- **파일에서 읽어서 데이터베이스에 쓰기**

In [8]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no   name position   hands highschool  height
0       17  '김범수'     '투수'  '좌투좌타'    '천안북일고'     181
1       38  '안영명'     '투수'  '우투우타'    '천안북일고'     183
2       36  '장민재'     '투수'  '우투우타'    '광주제일고'     184
3       13  '최재훈'     '포수'  '우투우타'    '덕수정보고'     178
4       52  '김태균'    '내야수'  '우투우타'    '천안북일고'     185
5        7  '송광민'    '내야수'  '우투우타'      '공주고'     184
6       50  '이성열'    '내야수'  '우투좌타'    '순천효천고'     185
7       43  '정은원'    '내야수'  '우투좌타'      '인천고'     177
8        8  '정근우'    '외야수'  '우투우타'      '부산고'     172
9       25  '최진행'    '외야수'  '우투우타'    '덕수정보고'     188

In [9]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

- **데이터 조회**

In [11]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, "'김범수'", "'투수'", "'좌투좌타'", "'천안북일고'", 181)
(38, "'안영명'", "'투수'", "'우투우타'", "'천안북일고'", 183)
(36, "'장민재'", "'투수'", "'우투우타'", "'광주제일고'", 184)
(13, "'최재훈'", "'포수'", "'우투우타'", "'덕수정보고'", 178)
(52, "'김태균'", "'내야수'", "'우투우타'", "'천안북일고'", 185)
(7, "'송광민'", "'내야수'", "'우투우타'", "'공주고'", 184)
(50, "'이성열'", "'내야수'", "'우투좌타'", "'순천효천고'", 185)
(43, "'정은원'", "'내야수'", "'우투좌타'", "'인천고'", 177)
(8, "'정근우'", "'외야수'", "'우투우타'", "'부산고'", 172)
(25, "'최진행'", "'외야수'", "'우투우타'", "'덕수정보고'", 188)

In [13]:
# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [14]:
# 다건 조회
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, "'김범수'", "'투수'", "'좌투좌타'", "'천안북일고'", 181)

In [15]:
# 모두 조회
rows = cur.fetchall()
for row in rows:
    print(row)

(38, "'안영명'", "'투수'", "'우투우타'", "'천안북일고'", 183)
(36, "'장민재'", "'투수'", "'우투우타'", "'광주제일고'", 184)
(13, "'최재훈'", "'포수'", "'우투우타'", "'덕수정보고'", 178)
(52, "'김태균'", "'내야수'", "'우투우타'", "'천안북일고'", 185)
(7, "'송광민'", "'내야수'", "'우투우타'", "'공주고'", 184)
(50, "'이성열'", "'내야수'", "'우투좌타'", "'순천효천고'", 185)
(43, "'정은원'", "'내야수'", "'우투좌타'", "'인천고'", 177)
(8, "'정근우'", "'외야수'", "'우투우타'", "'부산고'", 172)
(25, "'최진행'", "'외야수'", "'우투우타'", "'덕수정보고'", 188)

In [16]:
# 필요한 colum만 조회, 조회 조건도 추가
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 10')
rows = cur.fetchall();
for row in rows:
    print(row)

("'최재훈'",)
("'김범수'",)
("'최진행'",)
('양성우',)
("'장민재'",)
("'안영명'",)
("'정은원'",)
("'이성열'",)
("'김태균'",)

In [19]:
# 원하는 순서 및 개수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER by name DESC')
row = cur.fetchone()
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [22]:
# 원하는 순서 및 개수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')
row = cur.fetchone();
for row in rows:
    print(row)

("'최재훈'",)
("'김범수'",)
("'최진행'",)
('양성우',)
("'장민재'",)
("'안영명'",)
("'정은원'",)
("'이성열'",)
("'김태균'",)

- **데이터 검색**

In [24]:
# 기본 스트링 쿼리
cur = conn.cursor()
cur.execute(“SELECT * FROM Eagles WHERE position=‘내야수’;”)
rows = cur.fetchall();
for row in rows:
 print(row)

SyntaxError: invalid character in identifier (<ipython-input-24-0bf8a85238ac>, line 3)

In [25]:
# Placeholder
cur = con.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;‘, (back_no,))
player = cur.fetchone()
print(player[0]) # 50

SyntaxError: EOL while scanning string literal (<ipython-input-25-929ac86c5510>, line 4)

In [26]:
# Grouping
sql = ‘SELECT position, count(*) FROM Eagles GROUP BY position’

SyntaxError: invalid character in identifier (<ipython-input-26-cab0a3dc891c>, line 2)

- **데이터 변경**
- UPDATE table SET field1 = value1, ... WHERE 조건:

In [31]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands ='우투좌타', highschool='미쿡고', height=190 WHERE back_no=30;")
conn.comit()

ProgrammingError: Cannot operate on a closed database.

- **데이터 삭제**
- DELETE FROM table WHERE 조건:

In [29]:
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no=1;")
conn.commit()

In [30]:
conn.close()

## Table Join을 위한 준비

In [ ]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Stats \
    (id INT NOT NULL, \
    player TEXT, \
    average REAL, \
    rbi INT, \
    homerun INT, \
    PRIMARY KEY())