## 연습문제 3
#### 사용자의 이름과, 비밀번호를 갖는 Users 테이블이 있다. 사용자의 이름과 비밀번호를 올바르게 입력하면 ‘성공’을 출력하고, 잘못 입력하면 ‘실패’를 출력하는 프로그램을 작성하시오.

In [75]:
import numpy as np
import pandas as pd
import sqlite3

In [45]:
conn = sqlite3.connect('./test.db') 
cur = conn.cursor()

In [35]:
cur.execute('CREATE TABLE IF NOT EXISTS Users \
    (uid TEXT PRIMARY KEY, \
     name TEXT NOT NULL, \
     password TEXT);')

In [38]:
users = pd.DataFrame({
    'uid': ['jhchoi','tkkim','kmsong','sylee','ewchung'],
    'name': ['최진행','김태균','송광민','이성열','정은원'],
    'password': ['1234','1234','1234','1234','1234']
})
users

       uid name password
0   jhchoi  최진행     1234
1    tkkim  김태균     1234
2   kmsong  송광민     1234
3    sylee  이성열     1234
4  ewchung  정은원     1234

In [46]:
cur = conn.cursor()
sql = 'INSERT INTO Users VALUES (?, ?, ?);'
for i in range(5):
    cur.execute(sql, (users.iloc[i,0],
                      users.iloc[i,1],
                      users.iloc[i,2]))
conn.commit()

In [83]:
cur = conn.cursor()
cur.execute("SELECT * FROM Users;")
rows = cur.fetchall()
for row in rows:
    print(row)

('jhchoi', '최진행', '1234')
('tkkim', '김태균', '1234')
('kmsong', '송광민', '1234')
('sylee', '이성열', '1234')
('ewchung', '정은원', '1234')

In [84]:
conn.close()

In [85]:
def checkUser(uid, password):
    print(uid, password)
    conn = sqlite3.connect('./test.db')
    cur = conn.cursor()
    sql = "SELECT name, password FROM Users WHERE uid like ?;"
    cur.execute(sql, (uid,))
    dbname, dbpassword = cur.fetchone()
    print(dbname, dbpassword)

    conn.close()

In [89]:
uid, password = input("uid password 입력> ").split()
checkUser(uid, password)

uid password 입력> tkkim 1234
tkkim 1234
김태균 1234

- Exception을 활용하여 구현

In [90]:
CHECK_SUCCESS = 0
INVALID_UID = 1
INCORRECT_PASSWORD = 2
DATABASE_ERROR = 3

def checkUser(uid, password):
    conn = sqlite3.connect('./test.db')
    name = ''
    try:
        cur = conn.cursor()
        sql = "SELECT name, password FROM Users WHERE uid like ?;"
        cur.execute(sql, (uid,))
        dbName, dbPassword = cur.fetchone()
        if password == dbPassword:
            returnCode = CHECK_SUCCESS
            name = dbName
        else:
            returnCode = INCORRECT_PASSWORD
    except TypeError as te:
        returnCode = INVALID_UID
    except Exception as e: 
        print('예외가 발생했습니다.', e)
        returnCode = DATABASE_ERROR
    finally:
        conn.close()
        return returnCode, name

In [93]:
uid, password = input("uid password 입력> ").split()
result, name = checkUser(uid, password)
if result == CHECK_SUCCESS:
    print('로그인 성공, 사용자 이름 =', name)
elif result == INVALID_UID:
    print('실패 - 잘못된 User ID')
elif result == INCORRECT_PASSWORD:
    print('실패 - 패스워드 불일치')
else:
    print('실패 - 데이터베이스 에러')

uid password 입력> tkkim 1234
로그인 성공, 사용자 이름 = 김태균